/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Elements*/

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px
}

/*Classes*/

.header, .footer {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  background: #1F2937;
  color: #E5E7EB;
}

.header_logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero_sec_txt, .header_links {
  font-weight: 100;
  font-size: 18px;
  color: #E5E7EB;
}

.footer {
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  padding: 48px;
  background: #1F2937;
  gap: 30px;
}

.hero_main_txt {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero_main_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
